* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* common styles */
.title {
    font-size: 2rem;
    font-weight: 700;
}

.pink-color {
    color: #FF42A5;
}

.text-style {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
}

.btn{
    background-color: #FF42A5;
    color: white;
    border: none;
    border-radius: 48px;
    padding: 15px 30px;
}

.linear-gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}


/* navbar styles start here */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 60px;
    height: 35px;
    margin-right: 20px;
}


.nav-items-container {
    display: flex;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    margin-right: 30px;

}

.follow-us-btn {
    width: 200px;
    height: 45px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.fa-brands{
    font-size: 25px;
}

/* navbar styles ends here */


/* banner styles start here*/
.banner-container, .gamer-container{
    display: flex;
    gap: 50px;
}


.banner-text{
    width: 50%;
    background-image: url("/images/Group\ 14.png");
    padding-top: 100px;
    padding-left: 170px;
    padding-bottom: 100px;
}

.banner-imgage, .gamer-image{
    width: 50%;
}
.banner-imgage img{
    width: 72%;
}
.banner-text .goat{
    font-size: 3.5rem;
    font-weight: 800;
}
.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    display: inline-block;
}

.btn-go-rogue{
    background-color: #4EC5F7;
    margin-left: 20px;
}
.banner-text p{
    margin-bottom: 15px;
}

/* Banner section ends here */

/* Gamer section satrt here */
.gamer-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 500px;
}

.gamer-text{
    width: 50%;
    text-align: right;
    padding-top: 40px;
    width: 450px;
}
.gamer-text button, .gamer-text h2{
    margin: 20px 0px;
}
.gamer-image img{
    width: 85%;
    margin-left: 150px;
    margin-top: 30px;
}
/* gamer section ends here */


/* Online games or funny video section styles */
.online-games-container-text{
    text-align: center;
}
.online-games-container-text h1{
    font-size: 2.3rem;
    margin-top: 120px;
    font-weight: 800;
}

.online-game-container-games{
    display: flex;
    justify-content:center;
    gap: 15px;
    margin-top: 48px;
}
.card{
    width: 270px;
}
.card img{
    width: 270px;
    height: 320px;
    margin-bottom: 10px;
}

.card img:hover {
    cursor: pointer;
}








/* Responsive design start here */
/* For mobile devices */
@media screen and (max-width:576px) {
    .nav-container,
    .nav-items-container, 
    .gamer-container,
    .online-game-container-games
    {
        flex-direction: column;
        gap: 32px;
    }
    .nav-items-container a{
        margin-right: 0px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-text{
        width: 90%;
        padding-left: 100px;
    }
    .banner-imgage,.gamer-image{
        width: 100%;
    }
    .banner-imgage img{
        width: 90%;
        padding-left: 60px;
    }

    .gamer-image img{
        width: 100%;
        margin-left: 0px;
    }
    .gamer-text{
        text-align: center;
    }
    .online-games-container-text h1{
        font-size: 1.6rem;
        margin-top: 200px;
    }
    .online-game-container-games .card{
        width: 100%;
        margin-left: 30px;
    }
    .online-game-container-games img{
        width: 100%;
        height: 100%;
    }


}