* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* common styles */
.title {
    font-size: 2rem;
    font-weight: 700;
}

.pink-color {
    color: #FF42A5;
}

.text-style {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
}

.btn{
    background-color: #FF42A5;
    color: white;
    border: none;
    border-radius: 48px;
    padding: 15px 30px;
}


/* navbar styles start here */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 60px;
    height: 35px;
    margin-right: 20px;
}

/* .logo-container p {
    font-size: 2.3rem;
    font-weight: 700;
} */

.nav-items-container {
    display: flex;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    margin-right: 30px;

}

.follow-us-btn {
    width: 200px;
    height: 45px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.fa-brands{
    font-size: 25px;
}

/* navbar styles ends here */


/* banner styles start here*/
.banner-container{
    display: flex;
    gap: 50px;
}


.banner-text{
    width: 50%;
    background-image: url("/images/Group\ 14.png");
    padding-top: 100px;
    padding-left: 170px;
    padding-bottom: 100px;
}

.banner-img{
    width: 50%;
}
.banner-img img{
    width: 72%;
}
.banner-text .goat{
    font-size: 3.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    display: inline-block;
}

.btn-go-rogue{
    background-color: #4EC5F7;
    margin-left: 20px;
}
.banner-text p{
    margin-bottom: 10px;
}

/* Banner section ends here */









/* Responsive design start here */
/* For mobile devices */
@media screen and (max-width:576px) {
    .nav-container, .nav-items-container{
        flex-direction: column;
        gap: 32px;
    }
    .nav-items-container a{
        margin-right: 0px;
    }
}